html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.courseSelector{
    visibility: hidden;
}

.row{
    display: flex;
    flex-direction: row;
}
.rowItem{
    border: 1px black solid;
    text-align: center;
    padding-top: 15px;
    width: 50px;
    height: 35px;
}
.rowStart{
    border: 1px black solid;
    text-align: center;
    width: 150px;
    height: 35px;
    padding-top: 15px;
}

.modal{
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.content{
    filter: blur(3px);
}
.panel{
    background-color: white;
    border-radius: 4px;
    width: 500px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.player-container{
    display:flex;
    height: 50px;
    flex-direction: row;
    width: 100%;
}
.scoreNodeContainer{
    border: 1px black solid;
    text-align: center;
    padding: 0;
    width: 50px;
    height: 50px;
}
.scoreNode{
    text-align: center;
    padding: 0;
    width: 45px;
    height: 45px;
}
.player{
    border: 1px black solid;
    text-align: center;
    width: 150px;
    height: 35px;
    padding-top: 15px;
}
.removeButton{
    border: 1px black solid;
    text-align: center;
    width: 75px;
    height: 35px;
    padding-top: 15px;
}
.total0{
    text-align: center;
    width: 50px;
    height: 35px;
    padding-top: 15px;
}
.total1{
    text-align: center;
    width: 50px;
    height: 35px;
    padding-top: 15px;
}
.total2{
    text-align: center;
    width: 50px;
    height: 35px;
    padding-top: 15px;
}
.total3{
    text-align: center;
    width: 50px;
    height: 35px;
    padding-top: 15px;
}